/* GlobalSolution component styles */
.collapsed-content {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 4.5em; /* Two lines of text */
}

.icon-button {
    background: none;
    border: none;
    color: gray;
    cursor: pointer;
    padding: 0;
    transition: color 0.3s;
}

.icon-button:hover {
    color: blue;
}

.creator-name {
    font-weight: bold;
}

.timestamp {
    font-size: 0.85rem;
    color: gray;
}

.card-footer {
    border-top: 1px solid #ddd;
    padding: 10px;
}

.collapse-button {
    background: none;
    border: none;
    color: gray;
    cursor: pointer;
    padding: 0;
    margin-left: 10px;
}
.heart-button {
    background: none;
    border: none;
    color: gray;
    cursor: pointer;
    transition: color 0.3s,transform 0.2s ease-in-out;
    padding: 0;

}
.heart-button:hover {
    transform:scale(1.2)
}
/*.my-modal {*/
/*    --bs-modal-width:100% !important;*/
/*    width: 80% !important;*/
/*    min-width: 80% !important;*/
/*}*/

/*.modal-height {*/

/*    height: 100% !important;*/
/*    min-height: 100% !important;*/
/*}*/

.custom-modal-height .modal-dialog {
    max-width: 90%; /* Set max width of modal */
    width: 90% !important;
    min-width: 90% !important;
    --bs-modal-width:100% !important;
    height: 90vh; /* Set height relative to viewport */
    max-height: 90vh; /* Ensure modal does not exceed viewport height */
}

.custom-modal-height .modal-content {
    height: 100%; /* Ensure content fills the modal */
}

.custom-modal-height .modal-body {
    display: flex;
    flex-direction: row;
    height: 100%; /* Ensure body fills the modal */
}

.custom-modal-height .modal-body {
    overflow-y: auto;
    height: 100%;
}
.blabla {
    height:90vh;
    overflow-y: scroll;
    overflow-x: hidden;
    word-break: break-word;
}
.rightsidesolution::-webkit-scrollbar {
    width: 10px;
}

.commentslist::-webkit-scrollbar {
    display:none;
}
.rightsidesolution::-webkit-scrollbar-track {
    background: #f1f1f1; /* Background of the scrollbar track */
    border-radius: 5px;
}
.rightsidesolution::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
    border: 2px solid #f1f1f1;

}
.rightsidesolution::-webkit-scrollbar-thumb:hover {
    background-color: #555;

}