
.back-box{
    background-color: #60ff95;
    position:fixed;
    width:100%;
    height:100%;
    z-index:-1;
}


.login-box{
    background-color: #b9ffff;
    width:30%;
    margin-right:auto;
    margin-left:auto;
    margin-top:15vh;
    scale:1.2;
}
.sign-box{
    margin-left:3px;
}

.img-cont{
    text-align: center;
}
#Profile-Picture {
    max-height: 50%;
    max-width: 50%;
}

img[src=''] {
    display:none
}